/* Sidebar.css */
.toggle-btn {
    position: absolute;
    top: 20px;
    left: 260px; /* Adjust this value as needed */
    background-color: #111;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar.active .toggle-btn {
    left: 70px; /* Adjust based on the collapsed width */
    display: none;
  }
  