/* Background for the outer container */
.outer-container {
  background: linear-gradient(to right, #f5f7fa, #f58484); /* Gradient background */
  min-height: 90vh; /* Full height to cover the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the time-off request box */
.time-off-request {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
   /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
  background: linear-gradient(to right, #f5f7fa, #f58484);
  margin-top: 15px;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
