/* src/App.css */

nav {
  background-color: #414b55;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: right;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #7e90f6;
}

nav a:hover {
  text-decoration: underline;
}

.home-page {
  text-align: center;
  padding: 20px;
}
